In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

#### Read selected stocks

In [2]:
path = 'individual_stocks_5yr/'

#make a list of select stock da
company_list = ['AAPL_data.csv','GOOG_data.csv','MSFT_data.csv','AMZN_data.csv']
all_data = pd.DataFrame()

for file in company_list:
    current_df = pd.read_csv(path+'/'+file)
    all_data = pd.concat([all_data,current_df])
    
all_data.shape

(4752, 7)

In [5]:
all_data.head()

         date     open     high      low    close     volume  Name
0  2013-02-08  67.7142  68.4014  66.8928  67.8542  158168416  AAPL
1  2013-02-11  68.0714  69.2771  67.6071  68.5614  129029425  AAPL
2  2013-02-12  68.5014  68.9114  66.8205  66.8428  151829363  AAPL
3  2013-02-13  66.7442  67.6628  66.1742  66.7156  118721995  AAPL
4  2013-02-14  66.3599  67.3771  66.2885  66.6556   88809154  AAPL

#### Analyse Closing Price of all the Stocks.

convert `date` to `datetime`

In [11]:
#return stock data Names
tech_list = all_data['Name'].unique()
tech_list

array(['AAPL', 'GOOG', 'MSFT', 'AMZN'], dtype=object)